<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjcdf8A55FhKXJ6zUE62n717oV9XtG8E4</string>
	<key>GCM_SENDER_ID</key>
	<string>967456908927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beSafe</string>
	<key>PROJECT_ID</key>
	<string>besafe-bc4cd</string>
	<key>STORAGE_BUCKET</key>
	<string>besafe-bc4cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967456908927:ios:e63f990d5eddd54f20814a</string>
</dict>
</plist>